<h1 class="m-5 text-center">Transaction History</h1>
<table style=" margin-left: 700px; margin-right: 900px;font-size: 20px;" class="border border-primary">
    <thead>
        <tr>
            <th>Type</th>&nbsp;
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transactions">
            <th>{{t.type}}</th>&nbsp;
            <th>{{t.amount}}</th>
        </tr>
        <tr>
            <th>DEBIT</th>&nbsp;
            <th>3000</th>
        </tr>
    </tbody>

</table>
<br><br>
<div class="text-center">
    <a href="/dashboard">Home</a>
</div>
